aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
appdirs==1.4.4
arboreto==0.1.6
attrs==23.2.0
Automat==22.10.0
Babel==2.10.3
bcrypt==3.2.2
beautifulsoup4==4.12.3
blinker==1.7.0
bokeh==3.9.0
boltons==25.0.0
boto3==1.34.46
botocore==1.34.46
Brotli==1.1.0
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.4.7
click==8.1.6
cloud-init==23.2.2
cloudpickle==3.1.2
colorama==0.4.6
coloredlogs==15.0.1
colormath==3.0.0
command-not-found==0.3
configobj==5.0.8
constantly==23.10.4
contourpy==1.3.3
cryptography==41.0.7
cssselect==1.2.0
ctxcore==0.2.0
cycler==0.11.0
cytoolz==1.1.0
dask==2024.5.2
dask-expr==1.1.2
dbus-python==1.3.2
decorator==5.1.1
Deprecated==1.3.1
dill==0.4.1
distributed==2024.5.2
distro==1.9.0
distro-info==1.7+build1
duckdb==1.4.3
et_xmlfile==2.0.0
fonttools==4.46.0
frozendict==2.4.7
frozenlist==1.8.0
fs==2.4.16
fsspec==2026.3.0
h5py==3.16.0
html5lib==1.1
httplib2==0.20.4
humanfriendly==10.0
humanize==4.9.0
hyperlink==21.0.0
idna==3.6
img2pdf==0.6.3
importlib_metadata==9.0.0
incremental==22.10.0
interlap==0.2.7
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.5.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
kiwisolver==0.0.0
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
llvmlite==0.47.0
locket==1.0.0
loompy==3.0.7
lxml==6.0.3
lz4==4.4.5
lzstring==1.0.4
Mako==1.3.2.dev0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.6.3
mdurl==0.1.2
more-itertools==10.2.0
mpmath==0.0.0
msgpack==1.1.2
multidict==6.7.1
multiprocessing-on-dill==3.5.0a4
multiqc==1.18
narwhals==2.19.0
netifaces==0.11.0
networkx==3.6.1
numba==0.65.0
numexpr==2.14.1
numpy==1.26.4
numpy-groupies==0.11.3
oauthlib==3.2.2
olefile==0.46
openpyxl==3.1.5
packaging==24.0
pandas==2.3.3
partd==1.4.2
pexpect==4.9.0
pikepdf==10.5.1
pillow==12.2.0
propcache==0.4.1
psutil==7.2.2
ptyprocess==0.7.0
pyaml-env==1.2.1
pyarrow==23.0.1
pyarrow-hotfix==0.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.17.2
PyGObject==3.48.2
PyHamcrest==2.1.0
PyJWT==2.7.0
pynndescent==0.6.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pypdf==6.10.2
pyrsistent==0.20.0
pyscenic==0.12.1
pyserial==3.5
python-apt==2.7.7+ubuntu5.2
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-docx==1.2.0
python-linux-procfs==0.6.3
python-magic==0.4.27
pytz==2024.1
pyudev==0.24.0
PyYAML==6.0.1
remotezip==0.12.3
reportlab==4.4.10
requests==2.31.0
rich==13.7.1
rich-click==1.6.0
s3transfer==0.10.1
scikit-learn==1.8.0
scipy==1.17.1
service-identity==24.1.0
setuptools==68.1.2
simplejson==3.19.2
six==1.16.0
sortedcontainers==2.4.0
sos==4.10.2
soupsieve==2.5
spectra==0.0.11
ssh-import-id==5.11
sympy==1.12
systemd-python==235
tblib==3.2.2
threadpoolctl==3.6.0
toolz==1.1.0
tornado==6.5.5
tqdm==4.67.3
Twisted==24.3.0
typing_extensions==4.15.0
tzdata==2026.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.16.0
ufw==0.36.2
umap-learn==0.5.12
unattended-upgrades==0.1
unicodedata2==15.1.0
urllib3==2.0.7
wadllib==1.3.6
webencodings==0.5.1
wheel==0.42.0
wrapt==2.1.2
xkit==0.0.0
xyzservices==2026.3.0
yarl==1.23.0
zict==3.0.0
zipp==3.23.0
zope.interface==6.1
